server:
  port: 9000

spring:
  datasource:
    name: springboot
    type: com.alibaba.druid.pool.DruidDataSource
    druid:
      filter: stat
      driver-class-name: com.mysql.cj.jdbc.Driver
      url: jdbc:mysql://127.0.0.1:3306/together?useUnicode=true&characterEncoding=UTF-8&serverTimezone=GMT%2B8
      username: root
      password: root
      initial-size: 1
      min-idle: 1
      max-active: 20
      max-wait: 60000
      time-between-eviction-runs-millis: 60000

# ÈÈ¸üÐÂ
  devtools:
    restart:
      enabled: true

  servlet:
     multipart:
       max-file-size: 10MB
       max-request-size: 100MB
  redis:
    database: 0
    host: 47.95.240.29
    port: 6379
    password:

mybatis:
  mapper-locations: classpath:mapper/**/*.xml
  type-aliases-package: cn.newexist.admin.entity
  configuration:
    map-underscore-to-camel-case: true

pagehelper:
  pagehelperDialect: mysql
  reasonable: true
  support-methods-arguments: true

logging:
  level:
    cn.newexist.admin.mapper: debug
